# Virtual environment
venv/
env/

#Hide DSstore
.DSstore

#Hide credentials in config.ini
config.ini

# Compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Caches
.cache/

# Jupyter notebook checkpoints
.ipynb_checkpoints/
